html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}

.text-box {
  box-sizing: border-box;
  background: #aaa;
  padding: 5%;
  width: 80%;
  margin: 0 auto;
}
