@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-ExtraBoldItalic.ttf')  format('truetype');
}

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}

.text-box {
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
  background: #aaa;
  padding: 5%;
  width: 80%;
  margin: 0 auto;
}

.text-box p {
  background-color: aliceblue;
}

.text-box span {
  background-color: rebeccapurple;
  white-space: nowrap;
}
